body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20201012/pngtree-white-cloud-on-blue-sky-weather-background-image_410050.jpg);
  height: 100vh;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.weather-app {
  font-family: Arial, sans-serif;
    text-align: center;
    width: 175%;
    margin-right: 8rem;
    height: 100%;
    max-width: 400px;
    padding: 100px;
    border-radius: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.9831582291119573) 22%, rgba(0,212,255,1) 100%);
  
}


h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #f5f4f4;
}

input {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.weather-data {
  text-align: left;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

p {
  font-size: 16px;
  margin: 10px 0;
}


button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 30px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
